* {
    font-family: "Helvetica Neue", "Montserrat", serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

li {
    margin : 10px 20px;
    color: #f5f5f5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

form {
    width: 30%;
    padding: 10px 20px 20px;
}

article {
    padding: 20px 20px 20px;
}

.text {
    padding: 20px 20px 20px;
}

#info {
    padding: 0 20px 10px;
}

#paypal-button {
    padding: 0 20px 10px;
}

.bann {
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 2px 5px 2em 600px;
}

.thumbnail img {
    max-width: 100%;
    height: 45%;
}
